<header class="fixed top-0 left-0 right-0 z-10 flex justify-between items-top bg-zinc-950 shadow-md py-2 px-6 w-full border-neutral-200 divide-inherit > * + *">
    <nav>
        <a href="/dashboard"
            class="font-bold px-3 py-2 text-slate-700 rounded-lg hover:bg-slate-100 hover:text-slate-900">Home</a>
        <a href="/team"
            class="font-bold px-3 py-2 text-slate-700 rounded-lg hover:bg-slate-100 hover:text-slate-900">Team</a>
    </nav>
    <div>
        <img width="144" height="144" src="https://img.icons8.com/fluency/144/marvel.png" alt="marvel"
            class="object-center mt-[-50px] mb-[-50px]" />
    </div>
    <nav>
        <a href="/projects"
            class="font-bold px-3 py-2 text-slate-700 rounded-lg hover:bg-slate-100 hover:text-slate-900">Projects</a>
        <a href="/reports"
            class="font-bold px-3 py-2 text-slate-700 rounded-lg hover:bg-slate-100 hover:text-slate-900">Reports</a>
    </nav>
</header>